/1/Mensa1Alex/build/
/2/Mensa1/dist/
/2/Mensa1/build/
/2/Ventanas/nbproject/private/
/2/Ventanas/build/
/3/Mensa2/Mensa2/nbproject/private/
/3/Mensa2/Mensa2/build/
/3/Mensa2/Mensa2/dist/
/3/Mensa2/Mensa3Alex/nbproject/private/
/3/Mensa2/Mensa3Alex/build/
/3/Mensa2/Mensa3Alex/dist/
/3/Dialogos/nbproject/private/
/3/Dialogos/build/
/3/Dialogos/dist/
/Meroquest/Meroquest/nbproject/private/
/Meroquest/Meroquest/build/
/Meroquest/Meroquest/dist/
/4/P4a/nbproject/private/
/4/P4a/dist/
/4/P4a/build/
/4/P4b_Alex/nbproject/private/
/4/P4BAlex/nbproject/private/
/4/P4BAlex/build/
/4/P4BAlex/dist/
/4/Mensa4PorTerminar/Mensa4/nbproject/private/
/4/Mensa4PorTerminar/Mensa4/build/
/5/Pintar/nbproject/private/
/5/Pintar/build/
/5/Mensa5PorTerminar/build/
