/*ReqC1, ReqC7*/
.IMPORTANTE {
    color: rgb(251, 159, 26);
    text-align: center;
}

/*ReqC3*/
#TITULO {
    font-size: 18px
}

/*ReqC6*/
* {
    font-style: normal
}

/*ReqC7*/
h1 {
    text-align: center
}

/*ReqC8*/
p {
    text-indent: 50px;
    opacity: 0.5;
}

/*ReqC10*/
section>* {
    margin-left: 5px;
    padding: 5px
}

/*ReqC11*/
a:hover {
    color: yellow;
    border: yellow 1px SOLID
}

/*ReqC11*/
a:visited {
    color: RED
}

/*ReqC11*/
a:link {
    color: CYAN
}

/*ReqC12*/
ul:first-child {
    font-weight: bold;
}

/*ReqC12*/
ul:last-child {
    font-weight: bold;
}
/*ReqC12*/
ul li:first-letter {
	font-variant: versalitas;
}

/*ReqC12*/
ul li:not(:first-letter) {
	font-variant: small-caps;
    	text-shadow: aqua 2px 4px 7
}

/*ReqC13*/
article:first-letter { /* Only seen directly in the body */
    border: 1px WHITE solid;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dashed;
    border-right-style: dashed
}

/*ReqC14*/
p:first-line {
    font-weight: 500; /* Only seen directly in the body */
}

ol {
    /*ReqC16*/
    list-style-type: lower-greek;
}

ul {
    /*ReqC17*/
    list-style-image: url("../img/white_square_small.png");
}

table {
    /*ReqC19*/
    caption-side: top
}

/*ReqC20*/
table tr td {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px
}