.IMPORTANTE {color:rgb(251, 159, 26); text-align: center;}    /*ReqC1, ReqC7*/
#TITULO {font-size:18px}                                        /*ReqC3*/
* {font-style:normal}                                           /*ReqC6*/
h1 {text-align: center}                                         /*ReqC7*/
p {text-indent: 50px; opacity: 0.5}                             /*ReqC8*/
section > * {margin-left: 5px; padding: 5px}                    /*ReqC10*/
a:hover {color: ORANGE}                                       /*ReqC11*/
a:visited {color: RED}                                        /*ReqC11*/ 
a:link {color: CYAN}                                          /*ReqC11*/
ul:first-child {font-weight:bold}                               /*ReqC12*/
ul:first-letter {text-transform:capitalize}                     /*ReqC12*/
li:not(:first-letter) {text-transform:lowercase;                /*ReqC12 FIXME:*/ 
    text-shadow:aqua 2px 4px 7}                               /*ReqC12*/
.article:first-letter {border:1px WHITE solid;                /*ReqC13*/
    border-top-style:dotted; border-bottom-style:dotted;        /*ReqC13*/ 
    border-left-style:dashed; border-right-style:dashed}        /*ReqC13*/
p:first-line {font-weight: 500}                                 /*ReqC14*/